@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

body {
  font-family: "Nunito", sans-serif;
  /* overflow: hidden; */
}

/* All users */
.all-users {
  display: flex;
  margin-bottom: 1rem;
  overflow-x: auto;
}

.single-user {
  background: rgb(0, 213, 255);
  color: white;
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 10px;
  margin-right: 0.5rem;
}

/* User Card */
.user-card {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

/* Chat Box */
.chat-box {
  max-height: calc(100vh - 6rem);
  overflow-y: auto;
  position: relative;
}

/* Chat Header */
.chat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  background: rgba(209, 209, 209, 0.2);
  color: rgb(12, 12, 12);
}

/* Messages */
.messages {
  max-height: calc(100vh - 15rem);
  overflow-y: auto;
  font-weight: 700;
}
.message {
  color: black;
  background: rgba(209, 209, 209, 0.2);
  padding: 0.75rem;
  border-radius: 5px;
  max-width: 50%;
}

.message.self {
  color: rgba(72, 112, 223, 1);
  background: rgba(72, 112, 223, 0.2);
}

.message-footer {
  font-size: 12px;
  align-self: flex-end;
  font-weight: 400;
}

/* Chat Input  */
.chat-input {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.send-btn {
  border: none;
  background: rgba(72, 112, 223, 1);
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
